/* line 1, /Users/troyleach/projects/spark-start/app/assets/stylesheets/main.scss */
.center-it {
  text-align: center;
}

/* line 4, /Users/troyleach/projects/spark-start/app/assets/stylesheets/main.scss */
.profile-image-container {
  text-align: -webkit-center;
}

/* line 8, /Users/troyleach/projects/spark-start/app/assets/stylesheets/main.scss */
.profile-image {
  width: 20%;
}
