/* line 3, /Users/troyleach/projects/spark-start/app/assets/stylesheets/style.scss */
body {
  background-color: #fff;
}

/* line 7, /Users/troyleach/projects/spark-start/app/assets/stylesheets/style.scss */
.blog-header {
  background-color: #09c4f2;
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
}

/* line 14, /Users/troyleach/projects/spark-start/app/assets/stylesheets/style.scss */
.blog-header a {
  color: #fff;
}

/* line 18, /Users/troyleach/projects/spark-start/app/assets/stylesheets/style.scss */
.blog-header a:hover {
  color: #fff;
}

/* line 22, /Users/troyleach/projects/spark-start/app/assets/stylesheets/style.scss */
.blog-body {
  padding: 5px;
  margin: 5px 0 5px 0;
  border: 1px solid lightgray;
}

/* line 28, /Users/troyleach/projects/spark-start/app/assets/stylesheets/style.scss */
.blog-author {
  background-color: #eee;
  padding: 5px;
  font-style: italic;
  text-align: right;
}

/* line 34, /Users/troyleach/projects/spark-start/app/assets/stylesheets/style.scss */
.margin-15 {
  margin: 15px;
}

/* line 38, /Users/troyleach/projects/spark-start/app/assets/stylesheets/style.scss */
.linkedin-tiny {
  height: 24px;
}

/* line 42, /Users/troyleach/projects/spark-start/app/assets/stylesheets/style.scss */
.amazon-logo-tiny {
  height: 48px;
}
