<!DOCTYPE html>
    <html>
    <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <title>Spark-Start Admin</title>
    </head>
    <body>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#books">Books</a></li>
    <li><a data-toggle="tab" href="#users">Users</a></li>
    <li><a data-toggle="tab" href="#posts">Posts</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="books" class="tab-pane fade in active">
        <section>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="well">
                  <h2 class="page-header">Manage Books <a href="new.html" class="btn btn-success">Add New</a></h2>
                  <table class="table table-striped">
                  <tr>
                    <th>Book Title</th>
                    <th>Book Question 1</th>
                    <th>Actions</th>
                  </tr>
                  <tr>
                    <td>Book 1</td>
                    <td>What did you think?</td>
                    <td><a href ="#" class="btn tbn-primary">Edit</a> <a href="#" class="btn btn-danger">Delete</td>
                  </tr>
                </div>
              </div>
            </div>
          </div>
        </section>
   </div>
    <div id="users" class="tab-pane fade">
      <section>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="well">
                  <h2 class="page-header">Manage Users <a href="new.html" class="btn btn-success">Add New</a></h2>
                  <table class="table table-striped">
                  <tr>
                    <th>User email</th>
                    <th>Actions</th>
                  </tr>
                  <tr>
                    <td>some@email.com</td>
                    <td><a href ="#" class="btn tbn-primary">Edit</a> <a href="#" class="btn btn-danger">Delete</td>
                  </tr>
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>
    <div id="posts" class="tab-pane fade">
      <section>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="well">
                  <h2 class="page-header">Manage Blog Posts<a href="new.html" class="btn btn-success">Add New</a></h2>
                  <table class="table table-striped">
                  <tr>
                    <th>Post Title</th>
                    <th>Post Content</th>
                    <th>Actions</th>
                  </tr>
                  <tr>
                    <td>Title</td>
                    <td>Blah blah blah</td>
                    <td><a href ="#" class="btn tbn-primary">Edit</a> <a href="#" class="btn btn-danger">Delete</td>
                  </tr>
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>
  </div>
</div>
</body>
</html>