<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  <div style="text-align: center">
    <%= image_tag "newlogo.png", style: "height: 150px" %>
    <h1>Thanks for signing up, <%= @user.email %>!</h1>
    <p>Welcome to the party! Enjoy great books and thoughtful discussion with the worlds leading thinkers.</p>
  </div>

  </body>
</html>