<div class="container">

	<h3>Spark Directory</h3>

	<table style="width:100%">
		<thead></thead>

		<tr>
			<th>User Email</th>
			<th>User Role</th>
			<th>User Admin (Y/N)</th>
		</tr>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.email %></td>
			<td><%= user.admin %></td>
			<% if user.admin == true %>
				<% var = "checked" %>
			<% else %>
				<% var = "unchecked" %>
			<% end %>
			<td><input type="checkbox" <%= var %> data-toggle="toggle" data-on="Y" data-off="N" data-onstyle="success" data-offstyle="danger">
</td>
		</tr>
		<% end %>
	</table>

</div>