<div class="container">

	<h3>Spark Directory</h3>
	<div id="search">
	  <table style="width:100%" id="users">
		  <tr>
		  	<th>User Email</th>
		  	<th>User Admin (True/False)</th>
		  </tr>
		  <tr v-for="user in users">
		  	<td> {{ user.email }}</td>
		  	<td> <button class="btn btn-rounded {{ user.admin }}" onClick="changeRole({{ user.id }}, {{ user.admin }})">{{ user.admin }}</button></td>
		  </tr>
	  </table>
	</div>

