<div class="container">

	<h3>Spark Directory</h3>

	<table style="width:100%">
		<thead></thead>

		<tr>
			<th>User Email</th>
			<th>User Role</th>
			<th>User Admin (Y/N)</th>
		</tr>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.email %></td>
			<td><%= user.role %></td>
			<td><%= user.admin %></td>
		</tr>
		<% end %>
	</table>

</div>