
<h1 class="text-center">Book Library</h1>

<div class="container container-height">
  <div class="col-xs-offset-2">
    <% @books.each do |book|%>
      <a href="/books/<%= book.id %>">
        <div class="col-xs-4 book-preview text-center">
          <h4><%= book.title %></h4>
          <% if book.cover.url(:thumb) == "/images/thumb/missing.png" %>
            <%= image_tag "missing_cover.jpg" %>
          <% else %>
            <%= image_tag book.cover.url(:medium) %>
          <% end %>
        </div>
      </a>
    <% end %>
  </div>
</div>