
<div class="container container-height">
  <h1>Book Library</h1>
  <% @books.each do |book|%>
  <div class="col-xs-4">
    <h2><%= book.title %></h2>
    <%= image_tag book.cover.url(:thumb) %>
    <h3>buy it today!</h3>
    <h3><%= book.url %></h3>
  </div>
  <% end %>
</div>