<div class="container">
<%= image_tag @book.book.url %>
<%= image_tag @book.book.url(:medium) %>
<%= image_tag @book.book.url(:thumb) %>

Here is where the list of books will beHere is where the list of books will be
<br>
Here is where the list of books will beHere is where the list of books will be
<br>
Here is where the list of books will beHere is where the list of books will be
<br>
Here is where the list of books will beHere is where the list of books will be
<br>
Here is where the list of books will beHere is where the list of books will be
<br>
Here is where the list of books will beHere is where the list of books will be
<br>
Here is where the list of books will beHere is where the list of books will be
<br>
Here is where the list of books will beHere is where the list of books will be
<br>
Here is where the list of books will beHere is where the list of books will be
<br>
Here is where the list of books will beHere is where the list of books will be
<br>
Here is where the list of books will beHere is where the list of books will be
<br>
Here is where the list of books will beHere is where the list of books will be
<br>
Here is where the list of books will beHere is where the list of books will be
<br>
Here is where the list of books will beHere is where the list of books will be
<br>
Here is where the list of books will beHere is where the list of books will be
<br>


</div>
