<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#posts">Posts</a></li>
    <li><a data-toggle="tab" href="#users">Users</a></li>
    <li><a data-toggle="tab" href="#books">Books</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
    	<%= render 'home' %>
    </div>
    <div id="posts" class="tab-pane fade">
      		
      
      <%= render 'posts' %>

    </div>
    <div id="users" class="tab-pane fade">
      <%= render 'users' %>
    </div>
    <div id="books" class="tab-pane fade">
      <%= render 'books' %>
    </div>
  </div>
</div>