<div class="container">

		<div>
			<header class="entry-header" style="box-sizing: inherit; color: rgb(102, 102, 102); font-family: Lato, arial, sans-serif; font-size: 16px;">
				<h1 class="entry-title" itemprop="headline" style="box-sizing: inherit; font-size: 3.6rem; margin: 0px 0px 16px; color: rgb(51, 51, 51); letter-spacing: 1px; line-height: 1;">
					How It Works</h1>
			</header>
			<div class="entry-content" itemprop="text" style="box-sizing: inherit; color: rgb(102, 102, 102); font-family: Lato, arial, sans-serif; font-size: 16px;">
				<p style="box-sizing: inherit; margin: 0px 0px 26px; padding: 0px;">
					<span style="box-sizing: inherit; font-weight: 700;">A New Model for Mentoring&nbsp;</span></p>
				<p style="box-sizing: inherit; margin: 0px 0px 26px; padding: 0px;">
					Through ongoing collaboration with some of the best, brightest and most-caring thought leaders in the world, SparkStart will deliver:</p>
				<ul style="box-sizing: inherit; margin: 0px 0px 26px 40px; padding: 0px;">
					<li style="box-sizing: inherit; list-style-type: circle;">
						Pre-release copies of books written by today&rsquo;s top thought leaders in a variety of fields. Anyone who signs up to become a &ldquo;Sparkster&rdquo; (a member of the SparkStart community), and pledges to connect and mentor at least two others, will have the advantage of getting</li>
					<li style="box-sizing: inherit; list-style-type: circle;">
						Online discussions where readers can meet and engage in meaningful discussions with other Sparksters. These discussions will provide opportunities to network, share insights, learn, and collaborate.</li>
					<li style="box-sizing: inherit; list-style-type: circle;">
						Opportunities to grow your reading skills and as a leader. Sparksters will have the opportunity to advance to&nbsp;Spark Guides, Spark Leaders, and finally Spark Masters<span style="box-sizing: inherit; font-weight: 700;">.</span></li>
				</ul>
				<p style="box-sizing: inherit; margin: 0px 0px 26px; padding: 0px;">
					<b style="box-sizing: inherit;">SparkStart</b>&nbsp;is for those who love to read impactful books and want to share their insights on them with younger generations.</p>
				<p style="box-sizing: inherit; margin: 0px 0px 26px; padding: 0px;">
					In today&rsquo;s noisy, online world, great books offer readers an oasis for thought, contemplation, enlightenment, and connection.</p>
				<p style="box-sizing: inherit; margin: 0px 0px 26px; padding: 0px;">
					<span style="box-sizing: inherit; font-weight: 700;">SparkStart</span>&nbsp;was started and will be sponsored&nbsp;by&nbsp;<a href="http://www.networlding.com/" style="box-sizing: inherit; transition: all 0.1s ease-in-out; color: rgb(65, 131, 196); text-decoration: none;">Networlding</a>, a company started by Melissa G Wilson. Networlding helps thought leaders write, publish and market great books.</p>
				<p style="box-sizing: inherit; margin: 0px 0px 26px; padding: 0px;">
					<span style="box-sizing: inherit; font-weight: 700;">SparkStart</span>&nbsp;will&nbsp;offer pre-releases of cool books at no charge. Melissa has long had a passion to help young adults get better starts in their lives. To this end, she has authored and continues to author and co-author a series of books for teens and new adults, giving 50% or more of each book&rsquo;s sales to&nbsp;<span style="box-sizing: inherit; font-weight: 700;">SparkStart</span>where she will be offering scholarships to disadvantaged young adults for college tuition and expenses.</p>
				<p style="box-sizing: inherit; margin: 0px 0px 26px; padding: 0px;">
					To accomplish this goal,&nbsp;<span style="box-sizing: inherit; font-weight: 700;">SparkStart</span>&nbsp;and Melissa, along with top authors, will regularly offer pre-releases of awesome books, at no charge, for members to share their insights with one another. As the SparkStart community grows, participants will be able to participate in both online and live events where they can take their ideas to improve their lives and the lives of others.</p>
				<p style="box-sizing: inherit; margin: 0px 0px 26px; padding: 0px;">
					<span style="box-sizing: inherit; font-weight: 700;">We will integrate the following values into the heart of SparkStart:</span></p>
				<ul class="list-none li-size" style="box-sizing: inherit; margin: 0px 0px 26px 40px; padding: 0px;">
					<li style="box-sizing: inherit; list-style-type: circle;">
						Making a Difference</li>
					<li style="box-sizing: inherit; list-style-type: circle;">
						Integrity</li>
					<li style="box-sizing: inherit; list-style-type: circle;">
						Innovation</li>
					<li style="box-sizing: inherit; list-style-type: circle;">
						Collaboration</li>
				</ul>
				<p style="box-sizing: inherit; margin: 0px 0px 26px; padding: 0px;">
					<span style="box-sizing: inherit; font-weight: 700;">Is SparkStart Right for You?&nbsp;</span></p>
				<p style="box-sizing: inherit; margin: 0px 0px 26px; padding: 0px;">
					There is no pre-set criteria for joining SparkStart. However, here are some questions that will help you figure out if S<span style="box-sizing: inherit; font-weight: 700;">parkStart</span>&nbsp;is right for you:</p>
				<ul style="box-sizing: inherit; margin: 0px 0px 26px 40px; padding: 0px;">
					<li style="box-sizing: inherit; list-style-type: circle;">
						<span style="box-sizing: inherit; font-weight: 700;">Are you 18 years old or older?&nbsp;</span>Connect with our community. You&rsquo;ll not only be mentored by the best and the brightest, but you can help others by becoming a peer mentor.&nbsp;<span style="box-sizing: inherit; font-weight: 700;">Join us!</span></li>
					<li style="box-sizing: inherit; list-style-type: circle;">
						<span style="box-sizing: inherit; font-weight: 700;">Are you a just starting your career?&nbsp;</span>Network with SparkStart thought leaders and mentors. Benefit from their wisdom and passion. It&rsquo;s a winning equation for your professional and personal success.&nbsp;<span style="box-sizing: inherit; font-weight: 700;">Join us!</span></li>
					<li style="box-sizing: inherit; list-style-type: circle;">
						<span style="box-sizing: inherit; font-weight: 700;">Are you an entrepreneur?</span>&nbsp;Be mentored by some of the country&rsquo;s brightest and most innovative minds. Mentorship is a proven contributor to a startup&rsquo;s success.&nbsp;<span style="box-sizing: inherit; font-weight: 700;">Join us!</span></li>
					<li style="box-sizing: inherit; list-style-type: circle;">
						<span style="box-sizing: inherit; font-weight: 700;">Are you a serial creative?</span>&nbsp;Foster creativity by engaging with fellow creatives. Through communication and collaboration dreams become reality<span style="box-sizing: inherit; font-weight: 700;">. Join us!</span></li>
					<li style="box-sizing: inherit; list-style-type: circle;">
						<span style="box-sizing: inherit; font-weight: 700;">Are you a mid-level career professional?</span>&nbsp;Explore new opportunities. Take your networking to a whole new level and give back to others at the same time.&nbsp;<span style="box-sizing: inherit; font-weight: 700;">Join us!</span></li>
					<li style="box-sizing: inherit; list-style-type: circle;">
						<span style="box-sizing: inherit; font-weight: 700;">Are you a seasoned executive?</span>&nbsp;Share your wisdom. You&rsquo;ve spent years learning and implementing great ideas. Now, you want to share them with the world. SparkStart is your next step.&nbsp;<span style="box-sizing: inherit; font-weight: 700;">Join us!</span></li>
				</ul>
				<p style="box-sizing: inherit; margin: 0px 0px 26px; padding: 0px;">
					Did you answer &ldquo;yes&rdquo; to any of these questions? Sign up now in the category you fit into:</p>
				<ul style="box-sizing: inherit; margin: 0px 0px 26px 40px; padding: 0px;">
					<li style="box-sizing: inherit; list-style-type: circle;">
						<span style="box-sizing: inherit; color: rgb(51, 51, 51);"><a href="http://sparkstart.org/sparksters/" style="box-sizing: inherit; transition: all 0.1s ease-in-out; color: rgb(51, 51, 51); text-decoration: none;"><span style="box-sizing: inherit; font-weight: 700;">Sparkster:</span></a>&nbsp;You want to be mentored by others senior to you or you have under 5 years experience in your industry and want a mentor.</span></li>
					<li style="box-sizing: inherit; list-style-type: circle;">
						<span style="box-sizing: inherit; color: rgb(51, 51, 51);"><span style="box-sizing: inherit; font-weight: 700;"><a href="http://sparkstart.org/spark-leaders/" style="box-sizing: inherit; transition: all 0.1s ease-in-out; color: rgb(51, 51, 51); text-decoration: none;">Spark Leader</a>:</span>&nbsp;You have at least 5 years experience in your chosen industry and want to mentor.</span></li>
					<li style="box-sizing: inherit; list-style-type: circle;">
						<span style="box-sizing: inherit; color: rgb(51, 51, 51);"><span style="box-sizing: inherit; font-weight: 700;"><a href="http://sparkstart.org/spark-masters/" style="box-sizing: inherit; transition: all 0.1s ease-in-out; color: rgb(51, 51, 51); text-decoration: none;">Spark Master</a>:</span>&nbsp;You have at least 10 years of experience in your chosen industry and want to mentor.</span></li>
				</ul>
			</div>
		</div>

</div>
