<div class="container">

		<div>
			<header class="entry-header" style="box-sizing: inherit; color: rgb(102, 102, 102); font-family: Lato, arial, sans-serif; font-size: 16px;">
				<h1 class="entry-title" itemprop="headline" style="box-sizing: inherit; font-size: 3.6rem; margin: 0px 0px 16px; color: rgb(51, 51, 51); letter-spacing: 1px; line-height: 1;">
					Mission</h1>
				<h2 class="screen-reader-text" style="box-sizing: inherit; color: rgb(51, 51, 51); letter-spacing: 1px; line-height: 1.2; margin: 0px 0px 16px; font-size: 1.5rem; clip: rect(0px 0px 0px 0px); height: 1px; width: 1px; border: 0px; overflow: hidden; background: rgb(255, 255, 255); position: absolute !important;">
					&nbsp;</h2>
				<header class="entry-header" style="box-sizing: inherit; color: rgb(102, 102, 102); font-size: 16px;">
					&nbsp;</header>
				<div class="entry-content" itemprop="text" style="box-sizing: inherit; color: rgb(102, 102, 102); font-size: 16px;">
					<center style="box-sizing: inherit;">
						<div class="wp-caption alignnone" id="attachment_3015" style="box-sizing: inherit; max-width: 100%; width: 203px;">
							<img alt="Melissa G Wilson Founder and Sponsor of SparkStart" class="wp-image-3015" height="193" sizes="(max-width: 193px) 100vw, 193px" src="http://sparkstart.org/wordpress/wp-content/uploads/2016/07/melissa-300x300.png" srcset="http://sparkstart.org/wordpress/wp-content/uploads/2016/07/melissa-300x300.png 300w, http://sparkstart.org/wordpress/wp-content/uploads/2016/07/melissa-150x150.png 150w, http://sparkstart.org/wordpress/wp-content/uploads/2016/07/melissa-80x80.png 80w, http://sparkstart.org/wordpress/wp-content/uploads/2016/07/melissa-100x100.png 100w, http://sparkstart.org/wordpress/wp-content/uploads/2016/07/melissa-180x180.png 180w, http://sparkstart.org/wordpress/wp-content/uploads/2016/07/melissa.png 575w" style="box-sizing: inherit; border: 0px; max-width: 100%; height: auto; width: auto;" width="193" />
							<p class="wp-caption-text" style="box-sizing: inherit; margin: 0px 0px 26px; padding: 0px; font-size: 1.4rem;">
								<span style="box-sizing: inherit;">Melissa G Wilson</span><br style="box-sizing: inherit;" />
								<span style="box-sizing: inherit;">Founder and Sponsor of SparkStart</span></p>
						</div>
					</center>
					<p style="box-sizing: inherit; margin: 0px 0px 26px; padding: 0px;">
						The mission of SparkStart is to help people stay knowledgeable and productive with the constant stream of new information into our lives daily. SparkStart will achieve these goals by providing free pre-release eBooks of great authors to those who will share the wisdom from these books to mentor both peers and young and new adults.</p>
				</div>
				<h3 style="box-sizing: inherit; color: rgb(51, 51, 51); letter-spacing: 1px; line-height: 1.2; margin: 0px 0px 16px; font-size: 2.4rem; text-align: center;">
					<span style="box-sizing: inherit;">The Idea that &ldquo;Sparked&rdquo; SparkStart</span></h3>
				<h2 class="screen-reader-text" style="box-sizing: inherit; color: rgb(51, 51, 51); letter-spacing: 1px; line-height: 1.2; margin: 0px 0px 16px; font-size: 1.5rem; clip: rect(0px 0px 0px 0px); height: 1px; width: 1px; border: 0px; overflow: hidden; background: rgb(255, 255, 255); position: absolute !important;">
					&nbsp;</h2>
				<div class="entry-content" itemprop="text" style="box-sizing: inherit; color: rgb(102, 102, 102); font-size: 16px;">
					<p style="box-sizing: inherit; margin: 0px 0px 26px; padding: 0px;">
						My top value is making a difference. To this end I have developed a passion to help others by facilitating connection and wisdom-sharing. SparkStart will also offer all kinds of online support to help mentoring through great books spread around the world.&nbsp;After facilitating hundreds of live, networking events both in and outside of Chicago, with clients that have included companies like Motorola, CNA, Harris Bank, Disney,&nbsp;Diamond Consulting, Hewitt, Mercer, CDW, American Express, UBS, Office Depot, The University of Chicago, Loyola, DePaul and Northwestern MBA Alumni, The Chicagoland Chamber and many non-profits , I decided it&rsquo;s time to give back and offer ongoing support to others who want to connect more effectively and learn new things that benefit them and others regularly. In turn, then you can make a difference in the lives of others.</p>
				</div>
			</header>
		</div>

</div>
