<div class="container">

  <div>
  			<header class="entry-header" style="box-sizing: inherit; color: rgb(102, 102, 102); font-family: Lato, arial, sans-serif; font-size: 16px;">
  				<h1 class="entry-title" itemprop="headline" style="box-sizing: inherit; font-size: 3.6rem; margin: 0px 0px 16px; color: rgb(51, 51, 51); letter-spacing: 1px; line-height: 1;">
  					Free Videos</h1>
  				<div class="entry-content" itemprop="text" style="box-sizing: inherit; color: rgb(102, 102, 102); font-size: 16px;">
  					As part of our commitment to help young and new adults get better starts in their lives, Melissa and Networlding have created a series of training videos that offer the 15 top areas of development that college grads either don&rsquo;t learn about in college or don&rsquo;t learn enough about. For companies or nonprofit organizations that help young leaders, please feel free to use these videos for individual or group instruction. Please share them everywhere you can.</div>
  			</header>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CiRREkASgy4?list=PLIxG0hKafb5kgYreOEJvzO9QOntK2w0YD" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TrQNz6Bh5sI" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/T1_uXSrQXL4" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/07qKQIU0lYI" frameborder="0" allowfullscreen></iframe>


  </div>

</div>
