.center-it {
  text-align: center;
}
.profile-image-container {
  text-align: -webkit-center;
}
.spark-nav {
  color: #F9D176 !important;
  font-size: 6vw !important;
}

.profile-image {
    width: 20%;
}
.main-logo {
  margin-top: -28px;
  margin-left: -20vh;
  position: absolute;
  width: 15vw;
}

.main-logo-2 {
  position: absolute; 
  top: -20px;
  left: -35px;
  display: none;
}
.cartoon-social {
  height: 55px !important;
  width: 55px !important;
  margin: 5px;
  padding: 0px, 5px;
}

@media screen and (max-width: 1001px) {
  .main-logo {
    display: none;
  } 
}
