.nav-logo {
  float: left;
  padding-left: 10px;
  height: 80px;
}

.navbar-brand,
.navbar .nav > li > a {
  line-height: 80px;
  height: 80px;
  text-transform: uppercase;
  font-weight: bold;
}

// .active {
//   color: #70b64e;
// }

.navbar-brand {
 padding: 0;
}



.navbar .nav {
  font-size: 1.25em;
  color: #283B81;
}
