$accent-color: #09c4f2;

body {
  background-color: #fff;
}

.blog-header {
  background-color: $accent-color;
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
}

.blog-header a {
  color: #fff;
}

.blog-header a:hover {
  color: #fff;
}

.blog-body {
  padding: 5px;
  margin: 5px 0 5px 0;
  border: 1px solid lightgray;
}

.blog-author {
  background-color: #eee;
  padding: 5px;
  font-style: italic;
  text-align: right;
}
.margin-15{
  margin: 15px;
}

.linkedin-tiny {
  height: 24px;
}

.amazon-logo-tiny {
  height: 48px;
}

